@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Westmeath";
  src: url("/fonts/Westmeath.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothicPaneuropeanBold";
  src: url("/fonts/CenturyGothicPaneuropeanBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
